@using System.Linq
@using System.Web
@model System.Collections.Generic.IEnumerable<FileSystemApp.Models.FileSystemItem>
<div id="content">
    <b>Current path: </b>My Computer<br/><br/>
    @foreach (var driver in Model.Take((int) ViewBag.Count))
    {
        <a data-item="@driver.Path" onclick="GetContent(this);" href="#">@driver.Name</a><br/>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        function GetContent(el) {
            var path = $(el).attr('data-item');
            path = path.replace(/\\/g, "=");
            $.ajax({
                url: "/api/values/" + path,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    WriteResponse(data);
                },
                error: function() {
                    alert("Error");
                }
            });
        }

        function WriteResponse(fileSystemItems) {
            if (fileSystemItems == "MyComputer") {
                window.location = "/Home/Index";
            }
            var result = "<span><b>Current path: </b>" + fileSystemItems[0].ParentName + "</span><br/><br/>";
            result += "<a data-item='" + fileSystemItems[0].ParentPath + "' onclick='GetContent(this);' href='#'>..</a><br/>";
            $.each(fileSystemItems, function (index, fsi) {
                if (fsi.FileSystemItemType == 1) {
                    result += "<a data-item='" + fsi.Path + "' onclick='GetContent(this);' href='#'>" +
                        fsi.Name + "</a><br/>";
                } else {
                    result += "<span>" + fsi.Name + "</span><br/>";
                }
            });
            $("#content").html(result);
        }


    </script>
}
