@model IEnumerable<FileSystemApp.Models.FileSystemItem>
<div id="content">
    @foreach (var driver in Model.Take(2))
    {
        <a id="@driver.Id" data-item="@driver.Id" onclick="GetContent(this);" href="#">@driver.Path</a><br/>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        function GetContent(el) {
            var path = $(el).attr('data-item');
            $.ajax({
                url: "/api/values/" + path,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    WriteResponse(data);
                },
                error: function() {
                    alert("Error");
                }
            });
        }

        function WriteResponse(fileSystemItems) {
            var result = "";
            $.each(fileSystemItems, function (index, fsi) {
                if (fsi.FileSystemItemType == 1) {
                    result += "<a id='" + fsi.Id + "' data-item='" + fsi.Id + "' onclick='GetContent(this);' href='#'>" +
                        fsi.Name + "</a><br/>";
                } else {
                    result += "<span>" + fsi.Name + "</span><br/>";
                }
            });
            //$.each(directory.GetFiles(), function(file) {
            //    result += "<span>" + file.Name + "</span><br/>";
            //});
            $("#content").html(result);
        }


    </script>
}
