@{
    Layout = null;
}
<div id="content">
    <div id="table">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Less 10MB</th>
                    <th>10Mb-100MB</th>
                    <th>More 100MB</th>
                </tr>
            </thead>
            <tbody id="sizes">
            </tbody>
        </table>
    </div>
    <br /><br />
    <div id="fileSystem">
        <input type="hidden" data-item="@Guid.Empty" id="root" />
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/api.js"></script>
}
